<h1>Books</h1>

<table>
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <% @books.each do |book|  %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <% end %>  
    </tr>    
  </tbody>






</table>

<% #新規投稿画面 %>
<h2>New book</h2>

<%= form_with model: @book do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>